@media screen and (max-width: 500px) {
	.maindiv {
		overflow: hidden;
		width: 98%;
		height: 94%;
		position: absolute;
		background: #aaaaff;
		border-radius: 20px;
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 0px;
		margin-right: 10px;
		padding-bottom: 40px;
		-moz-box-shadow:    inset 0px 4px 18px 0px #bbbbbb, 0px 0px 5px #ffffff, 0px 3px 1px rgba(255,255,233,0.85);
		-webkit-box-shadow: inset 0px 4px 18px 0px #bbbbbb, 0px 0px 5px #ffffff, 0px 3px 1px rgba(255,255,233,0.85);
		box-shadow:         inset 0px 4px 18px 0px #bbbbbb, 0px 0px 5px #ffffff, 0px 3px 1px rgba(255,255,233,0.85);
	}
}






/*---------------------------------------*/

body {
	background-image: url(images/bg.jpg);
	background-size: 600px 600px;
	color: #999999;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
}

.task { 
	background: #FFFFFF;
    padding-top: 20px;
	padding-left: 20px;
    padding-right: 30px; 
	padding-bottom: 30px;
	color:#454545;
	word-wrap:break-word;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 370px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	border: 1px solid rgba(255,255,255,0);
    -webkit-background-clip: padding-box;   /* for Safari */
    background-clip: padding-box; 			/* for IE9+, Firefox 4+, Opera, Chrome */
	border-bottom-color: #cccccc;
	
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	
	-moz-box-shadow:    inset 0px 4px 18px 0px #bbbbbb;
    -webkit-box-shadow: inset 0px 4px 18px 0px #bbbbbb;
    box-shadow:         inset -14px 0px 18px -15px #bbbbbb, inset 14px 0px 18px -15px #bbbbbb;
}

.newdiv { 
	background: #FFFFFF;
    padding-top: 20px;
	padding-left: 20px;
    padding-right: 30px; 
	padding-bottom: 30px;
	color:#454545;
	word-wrap:break-word;
	position: absolute; 
	bottom: 10px;
	left: 0px;
	right: 0px;
	min-width: 370px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	border: 1px solid rgba(255,255,255,0);
	border-top-color: #cccccc;
	-webkit-background-clip: padding-box;   /* for Safari */
    background-clip: padding-box; 			/* for IE9+, Firefox 4+, Opera, Chrome */
	
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	
	-moz-box-shadow:    inset 0px 4px 18px 0px #bbbbbb;
    -webkit-box-shadow: inset 0px 4px 18px 0px #bbbbbb;
    box-shadow:         inset -14px 0px 18px -15px #bbbbbb, inset 14px 0px 18px -15px #bbbbbb;
}

.tasknumber { 
    padding: 2px;
    padding-right: 2px;
	color:#777777;
	margin-right: 8px;
	float:left;

	}
	
.taskdate { 
    padding: 2px;
    padding-right: 2px; 
	color:#999999;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	}
	
.important { 
    padding: 2px;
    padding-right: 2px; 
	color:#FF0000;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	}
	
.addimportantfalse { 
    padding: 2px;
    padding-right: 2px; 
	color:#cccccc;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	-webkit-transition: all 360ms ease-out 0s;
    -moz-transition: all 360ms ease-out 0s;
    -o-transition: all 360ms ease-out 0s;
    transition: all 360ms ease-out 0s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
	
.addimportantfalse:hover {
	color:#ff0000;
	}
	
.addimportanttrue { 
    padding: 2px;
    padding-right: 2px; 
	color:#ff0000;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}

.btn {
	background-color: #4BD763;
	font-family: Helvetica;
	font-weight:700;
	text-shadow: -1px -1px 0px #999999;
	color: #eeeeee;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	position: absolute;
	float: right;
	bottom: 4px;
	right: 16px;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	
	opacity: 0.9;
	
	-webkit-animation-name: btn-animation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: btn-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@-webkit-keyframes btn-animation {
    0%  {right: -100px;}
    100% {right: 16px;}
}

@keyframes btn-animation {
	0%  {right: -100px;}
    100% {right: 16px;}
}

.btn:hover {
	opacity: 1;
}

.header {
	width: 240px;
	margin-left: auto;
    margin-right: auto;	
	
	color:#aaaaaa;
	padding-top: 32px;
	padding-bottom: 8px;
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 40px;
	font-variant: bold;
}

.uncompleteddiv {
	width: 190px;
	float: right;
    padding: 2px;
    padding-right: 2px; 
	color:#999999;
	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 360ms ease-in-out;
}

div.uncompleteddiv img {
	height: 33px;
	width: 50px;
	float: right;
}

div.completeddiv img {
	height: 33px;
	width: 50px;
	float: right;
}

.completeddiv {
	width: 190px;
	float: right;
	padding-top: 2px;
	padding-bottom: 2px;
    padding-right: 2px; 
	color:#4BD763;
	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	transition: all 360ms ease-in-out;
}

.maindiv {
	overflow: hidden;
	width: 60%;
	height: 84%;
	position: absolute;
	background: #ffffff;
	border-radius: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	min-width: 700px;
	margin-left: 20%;
    margin-right: auto;
	padding-bottom: 40px;
	-moz-box-shadow:    inset 0px 4px 18px 0px #bbbbbb, 0px 0px 5px #ffffff, 0px 3px 1px rgba(255,255,233,0.85);
    -webkit-box-shadow: inset 0px 4px 18px 0px #bbbbbb, 0px 0px 5px #ffffff, 0px 3px 1px rgba(255,255,233,0.85);
    box-shadow:         inset 0px 4px 18px 0px #bbbbbb, 0px 0px 5px #ffffff, 0px 3px 1px rgba(255,255,233,0.85);
}

.tasksdiv::-webkit-scrollbar { width: 0 !important }

.tasksdiv {
	margin-top: 22px;
	height: 76%;
	overflow: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.editablediv {
	display:inline-block;
	width: 86%;
	font-family: "Tahoma, Geneva, sans-serif";
	font-size: 20px;
	outline: none;
	margin-top: 7px;
}

.r {
	float: right;
	margin-right: 90px;
}

.editeddiv {
	width: 100%;
	display:inline-block;	
}

.hidden {
	display: none;
}
