body {
	background: #303030;
	color: #FFFFFF;
	font-family: "Tahoma, Geneva, sans-serif";
}

.task { 
	background: #FFFFFF;
    padding-top: 20px;
	padding-left: 20px;
    padding-right: 30px; 
	padding-bottom: 30px;
	color:#000000;
	margin-top: 10px;
	margin-bottom: 10px;
	word-wrap:break-word;
	hyphens:auto;
	width: 85%;
	position: relative;
	min-width: 370px;
	font-family: "Tahoma, Geneva, sans-serif";
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;	
	box-shadow: 0px 0px 5px #202020, 3px 3px 3px #202020;
	
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	
	-webkit-transition: all 180ms ease-out 0s;
    -moz-transition: all 180ms ease-out 0s;
    -o-transition: all 180ms ease-out 0s;
    transition: all 180ms ease-out 0s;
	}
	
.newdiv { 
	background: #FFFFFF;
    padding-top: 20px;
	padding-left: 20px;
    padding-right: 30px; 
	padding-bottom: 30px;
	color:#000000;
	margin-top: 10px;
	margin-bottom: 10px;
	word-wrap:break-word;
	hyphens:auto;
	width: 85%;
	position: relative;
	min-width: 370px;
	font-family: "Tahoma, Geneva, sans-serif";
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;	
	box-shadow: 0px 0px 5px #202020, 3px 3px 3px #202020;
	
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	
	-webkit-transition: all 180ms ease-out 0s;
    -moz-transition: all 180ms ease-out 0s;
    -o-transition: all 180ms ease-out 0s;
    transition: all 180ms ease-out 0s;
	}
	
.task:hover { 
	width: 87%;
	box-shadow: 0px 0px 20px #202020, 5px 5px 25px #101010;
}

.newdiv:hover { 
	width: 87%;
	box-shadow: 0px 0px 20px #202020, 5px 5px 25px #101010;
}
	
.tasknumber { 
    padding: 2px;
    padding-right: 2px;
	color:#B22222;
	margin-right: 8px;
	float:left;

	}
	
.taskdate { 
    padding: 2px;
    padding-right: 2px; 
	color:#008000;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	}
	
.important { 
    padding: 2px;
    padding-right: 2px; 
	color:#FF0000;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	}
	
.addimportantfalse { 
    padding: 2px;
    padding-right: 2px; 
	color:#cccccc;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	-webkit-transition: all 360ms ease-out 0s;
    -moz-transition: all 360ms ease-out 0s;
    -o-transition: all 360ms ease-out 0s;
    transition: all 360ms ease-out 0s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
	
.addimportantfalse:hover {
	color:#ff0000;
	}
	
.addimportanttrue { 
    padding: 2px;
    padding-right: 2px; 
	color:#ff0000;
	margin-right: 8px;
	margin-bottom: 12px;
	float:left;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}

.btn {
	background: #bbbbbb;
	background-image: linear-gradient(top, #bcbcbc, #aaaaaa);
	background-image: linear-gradient(to bottom, #bcbcbc, #aaaaaa);
	font-family: Helvetica;
	font-weight:700;
	text-shadow: -1px -1px 0px #999999;
	color: #eeeeee;
	font-size: 20px;
	padding: 35px 25px 35px 25px;
	text-decoration: none;
	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

.btn:hover {
	background-image: linear-gradient(top, #bfbfbf, #afafaf);
	background-image: linear-gradient(to bottom, #bfbfbf, #afafaf);
	text-decoration: none;
}

.btn1 {
	background: #81C784;
	background-image: linear-gradient(top, #81C784, #4CAF50);
	background-image: linear-gradient(to bottom, #81C784, #4CAF50);
	font-family: Helvetica;
	font-weight:700;
	text-shadow: -1px -1px 0px #999999;
	color: #eeeeee;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	position: absolute;
	float: right;
	bottom: 4px;
	right: 4px;

	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

.btn1:hover {
	background-image: linear-gradient(top, #A5D6A7, #66BB6A);
	background-image: linear-gradient(to bottom, #A5D6A7, #66BB6A);
	text-decoration: none;
}

.header {
	width: 220px;
	margin-left: auto;
    margin-right: auto;	
	
	color:#FFFFFF;
	padding-top: 32px;
	padding-bottom: 8px;
	
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 52px;
	font-variant: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #303030;
}

.uncompleteddiv {
	float: right;
    padding: 2px;
    padding-right: 2px; 
    border: solid 2px #000F55;
	color:#000F55;
	margin-right: 3px;
	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	-ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Safari */
    transform: rotate(-4deg);

}

.completeddiv {
	float: right;
    padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
    padding-right: 2px; 
    border: solid 2px #008000;
	color:#008000;
	margin-right: 8px;
	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	-ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Safari */
    transform: rotate(-4deg);
}

.tasksdiv {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 50%;
	min-width: 670px;
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 0px;
}

.maindiv {
	width: 60%;
	background: #424242;
	margin-top: 40px;
	margin-bottom: 20px;
	min-width: 700px;
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 40px;
	box-shadow: 0px 0px 30px #202020, 10px 10px 30px #202020;
}

.editablediv {
	display:inline-block;
	width: 86%;
	font-family: "Tahoma, Geneva, sans-serif";
	font-size: 20px;
	outline: none;
	margin-top: 7px;
}


.hr {
	width: 108.5%;
	margin-left: -3.4%;
	height: 1px;
	display: block;
	border: none;
	background-color: #cccccc;
}

.r {
	float: right;
	margin-right: 90px;
}

.editeddiv {
	width: 100%;
	display:inline-block;	
}

.hidden {
	display: none;
}
